

:host{display:block}

paper-toolbar{background-color:#42A5F5}

/*.main-drawer-panel:not([narrow]) #content-toolbar,.main-drawer-panel:not([narrow]) #forward{display:none}*/

.content{height:900px}

.list-panel{box-shadow:5px 0 6px -3px rgba(0,0,0,.4)}

/*felt-material{height:100%;height:880px;width:100%;max-width:660px;margin:0 auto;background-color:#fff}*/

/*.main-drawer-panel:not([narrow]) felt-material{margin:18px auto}*/

.drawer-icons{width:100%}

#logoicon{margin-right:10px;border:1px solid #fff;height:40px;width:40px;box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.4);-webkit-transition:all 250ms ease-in;transition:all 250ms ease-in}

#toolybar{
    position:absolute;
    height:56px;
    background:#03a9f4;
    top:0;left:0;
    width:100%;

  }

#listToolbar {
    background: #03a9f4;
    width: 100%;
    height: 56px;
    font-size:18px;
  }

    .flexy {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    .uberlayout {
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
    }
    .masterlayout {
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .tabs1 {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    .tabs2 {
      display: none;
      height:100vh;
      max-height:560px;
    }
    #master {
      margin:0 3%;
      width:100%;
      max-width:560px;
    }
    #beat-card, #synth-card{
      height:94vw;
      width:94vw;
      max-height:560px;
      max-width:560px;
    }
    /*flipped layout, goes up to ipad size 1024*/
    @media (max-device-width: 1024px) and (orientation: landscape) {
      #toolybar{
        height:100%;
        width:4.8rem;
      }
      .uberlayout {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
      }
      .masterlayout {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
      }
      .tabs1 {
        display: none !important;
      }
      .tabs2 {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
      #master {
        margin:0;
      }
      #mainToolbar{
        height:100%;
        width:4.8rem;
      }
      #topbar {
        height:100vh;
        max-height:768px;
      }
      #beat-card, #synth-card{
        height:94vh;
        width:94vh;
        margin-top:3%;
        max-height:768px;
        max-width:768px;
      }
      #pages{
        width:100vh;
      }
    }
    
    #tabs {
      background: #03a9f4;
      color: white;
      height: 56px;
      min-height: 56px;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-transform: uppercase;
    }
    #tabs2 {
      background: #03a9f4;
      color: white;
      min-width: 4.8rem;
      margin: auto 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-transform: uppercase;
    }
    paper-menu {
      padding-top: 6px;
    }
    #signoutyo {
      width: 100%;
    }
    #paperDrawerPanel {
      position: static;  
    }
    ul {
        list-style-type: none;
        padding: 0px;
    }
    #topbar {
      min-height: 50px;
    }
    .pag{
      padding: 0px 30px;
    }
    .at-social-btn{
        margin-bottom: 8px;
    }














